<div class="container">
    <div class="col-md-11">
        <div class="card card-container mb-5">
            <div class="card-header text-center">
                <h4>Edit Kurir</h4>
            </div>

            <div class="card-body" *ngIf="kurir">
                <form class="addItem-form" [formGroup]="formGroup" (ngSubmit)="editKurir()">
                    <div class="form-group">
                        <label for="nama">Nama Kurir</label>
                        <input type="text" class="form-control" value="{{kurir.nama}}" id="nama" formControlName="nama" [ngClass]="{'is-invalid': formGroup.get('nama').touched && formGroup.get('nama').invalid}">
                          <div class="invalid-feedback">
                            <small id="nama" class="form-text text-danger">Nama Kurir is required!</small>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="resi">Nomor Resi</label>
                        <input type="text" class="form-control" value="{{kurir.resi}}" id="resi" formControlName="resi" [ngClass]="{'is-invalid': formGroup.get('resi').touched && formGroup.get('resi').invalid}">
                          <div class="invalid-feedback">
                            <small id="resi" class="form-text text-danger">Nomor resi is required!</small>
                          </div>
                      </div>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!formGroup.valid">Edit Kurir</button> 
                    </div>
                  </form>
            </div>

            <div class="card-footer text-center">
                <div class="mt-1">
                    <button type="button" class="btn btn-link" (click)="expedisi()">Back Here!</button>
                </div>
            </div>

      </div>
    </div>
</div>
    