<h2>Item Details</h2> 

<div class="card m-3"  *ngIf="item">
  <div class="row no-gutters">
    <div class="col-md-4 mx-auto">
      <img src="../../assets/profile1.jpg" class="card-img">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"> Title : {{item.nama}}</h5>
        <h6 class="card-title text-muted"> Stock : {{item.stock}}</h6>
        <h6 class="card-text">Harga : {{item.harga}}</h6>
        <p class="card-text">{{item.description}}.</p>
        <h6 class="card-text">Terjual : {{item.terjual}}</h6>
        <h6 class="card-text">Berat : {{item.berat}}</h6>
        <div class="card-body mb-3">
          <button type="button" class="btn btn-info float-left" style="width: 100px; height: 50px;" (click)="edit(item.id)">Edit</button>
          <button type="button" class="btn btn-danger float-right" style="width: 100px; height: 50px;" (click)="delete(item.id)">Delete</button>
          </div>
      </div>
    </div>
  </div>
          <div class="card-footer">
            <button type="button" class="btn btn-success btn-lg btn-block" (click)="addToCart(item.id)">Add to cart</button>
          </div>
</div>
