<h1>Detail User</h1>

<!-- Profile Image -->
<div class="card card-primary card-outline" *ngIf="user">
  <div class="card-body box-profile">
    <div class="text-center">
      <img class="profile-user-img img-fluid img-circle"
           src="../../assets/profile1.jpg"
           alt="User profile picture">
    </div>
        <h3 class="profile-username text-center">{{user.name}}</h3>
        <p class="text-muted text-center">{{user.username}}</p>

    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>
            Email
        </b> 
        <a class="float-right">
            {{user.email}}
        </a>
      </li>
      <li class="list-group-item">
        <b>
            Role
        </b> 
        <a class="float-right">
          {{user.role}}
        </a>
      </li>
      <li class="list-group-item">
        <b>
            Active
        </b> 
        <a class="float-right">
          {{user.active}}
        </a>
      </li>
    </ul>

    <button class="btn btn-primary btn-block"(click)="edit(user.id)">Edit</button>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="mt-4 mb-5 text-center" *ngIf="!detailUser">
  <button type="button" class="btn btn-success btn-block" (click)="addDetail(user.id)">Add New Detail User</button>
</div>

<!-- About Me Box -->
<div class="card card-primary mt-3 mb-3" *ngIf="detailUser">
  <div class="card-header">
    <h3 class="card-title">About Me</h3>
  </div>

  <div class="card-body">
    <strong>Address</strong>
    <p class="text-muted">
      {{detailUser.alamat}}
    </p>
    <hr>
    <strong>Phone 1</strong>
    <p class="text-muted">{{detailUser.phone1}}</p>
    <hr>
    <strong> Phone 2</strong>
    <p class="text-muted">{{detailUser.phone2}}</p>
    <hr>
    <strong>Type</strong>
    <p class="text-muted">{{detailUser.type}}</p>
    <hr>
    <strong>Gender</strong>
    <p class="text-muted">{{detailUser.jenis_kelamin}}</p>
    <hr>
    <strong>Pos Code</strong>
    <p class="text-muted">{{detailUser.kode_pos}}</p>
    <hr>
    <button class="btn btn-primary btn-block" (click)="editDetail(user.id)">Edit</button>
    <button class="btn btn-danger btn-block" (click)="deleteDetail(user.id)">Delete</button>

    <div class="card-footer">
      <h3 class="card-title"> </h3>
    </div>
  </div>
</div>