<div class="container">
<div class="col-md-12">
    <div class="card card-container">
        <div class="card-header text-center">
            <h4>Login</h4>
        </div>

        <div class="card-body mt-10 md-12">
            <form name="form" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProces()">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" placeholder="Enter username" formControlName="username" [ngClass]="{'is-invalid': formGroup.get('username').touched && formGroup.get('username').invalid}">
                  <div class="invalid-feedback">
                      <small id="usernameAlert" class="form-text text-danger">Username is required!</small>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" required minlength="6">Password</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password" formControlName="password" [ngClass]="{'is-invalid': formGroup.get('password').touched && formGroup.get('password').invalid}">
                  <div class="invalid-feedback">
                    <small id="passwordAlert" class="form-text text-danger">Password is required!</small>
                </div>
                  </div>
                <div class="mt-5">
                    <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!formGroup.valid">Sign in</button> 
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="mt-2">
                <small>Not a Member ? </small> 
                <button type="button" class="btn btn-link" >Register Here!</button>
            </div>
        </div>
  </div>
</div>
</div>
