<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" (click)="page()">Angular Rest {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="home()" [routerLink]="['/home']" routerLinkActive="active" >Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="page2()" [routerLink]="['/hal2']" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
          Admin
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="page3()" [routerLink]="['/hal3']" routerLinkActive="active">Layanan kurir</a>
          <a class="dropdown-item" href="">Transaksi</a>
          <div class="dropdown-divider">Payment</div>
          <a class="dropdown-item" href="">User</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="col mt-5">
    <router-outlet></router-outlet>
  </div>
</div>